# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb
*.log
*.user

Debug
win32_d
win32
Release
cppunit_win32_d
_UpgradeReport_Files
*.opensdf
*.ipch
*.suo
*.res
*.ncb

*.pyc 
*.pyo

*.user
*.orig
*.aps
debug
release
.idea
tool.vcproj
win32
win32d
Console
*.htm
*.gif
*.bmp
*.lib
